/*
 *
 * Some CSS formula templates:
 *
 * calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])))
 *
 */

/* ---------------------===================( Variables )===================--------------------- */
:root {

    /* -----------========( Colors )=========----------- */

    /* Mono */

    --color-white: 255, 255, 255;           /* #ffffff - white */
    --color-black: 0, 0, 0;                 /* #000000 - black */

    --color-light: 246, 253, 255;           /* #f6fdff - white blue */
    --color-light-second: 248, 237, 228;    /* #f8ede4 - background */

    --color-dark: 24, 32, 52;               /* #182034 - dark */
    --color-dark-second: 43, 47, 61;        /* #2b2f3d - footer, header */

    /* Multi */

    --color-success: 14, 163, 83;           /* #0ea353 - buttons */
    --color-danger: 226, 43, 43;            /* #e22b2b - errors */
    --color-info: 56, 151, 240;             /* #3897f0 - accent */

    /* Font */

    --color-font-light: var(--color-white);
    --color-font-dark: var(--color-black);




    /* -----------========( Current Theme )=========----------- */

    --theme-svg-fill: var(--color-dark);

    --theme-bg-color: var(--color-light);
    --theme-bg-color-secondary: var(--color-light-second);

    --theme-font-color: var(--color-font-dark);
    --theme-font-color-opposite: var(--color-font-light);



    /* -----------========( Breakpoints )=========----------- */

    --screen-mobile-start: 320px;
    --screen-mobile-end: 425px;

    --screen-tablet-start: 426px;
    --screen-tablet-end: 768px;

    --screen-laptop-start: 769px;
    --screen-laptop-end: 1440px;

    --screen-desktop-start: 1441px;
    --screen-desktop-end: 1920px;



    /* -----------========( Shadows )=========----------- */

    --shadow-primary: 0px 0px 10px rgba(var(--color-black), 0.25);
    --shadow-secondary: 0px 2px 18px rgba(var(--color-black), 0.1);
    --shadow-secondary-inset: inset 3px 3px 5px rgba(var(--color-black), 0.04);



    /* -----------========( Font )=========----------- */

    --font-weight: 400;
    --font-size-min: 14;
    --font-size-max: 16;

    /* (1.6 (22.4px) for 14px/300px -> 2 (32px) for 16px/1600px) = https://grtcalculator.com */
    --font-line-height-min: 1.6;
    --font-line-height-max: 2;

    --content-width-min: 320;
    --content-width-max: 1600;

    /* ---------------------===================( Formulas )===================--------------------- */
    --font-size: calc(var(--font-size-min) * 1px + (var(--font-size-max) - var(--font-size-min)) * (100vw - var(--content-width-min) * 1px) / (var(--content-width-max) - var(--content-width-min)));
    --font-line-height: calc((var(--font-size-min) * var(--font-line-height-min)) * 1px + ((var(--font-size-max) * var(--font-line-height-max)) - (var(--font-size-min) * var(--font-line-height-min))) * (100vw - var(--content-width-min) * 1px) / (var(--content-width-max) - var(--content-width-min)));

    /* The most readable online fonts: "1. Verdana, 2. Arial, 3. Courier" -> (https://www.awai.com/2011/10/the-best-fonts-to-use-in-print-online-and-email/) */
    /* Fonts supporting (https://www.cssfontstack.com/) */
    --font-family: Verdana, Arial, Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;



    /* -----------========( Other )=========----------- */

    --screen-padding: 15px;

    --min-interactive-size: 50px;

    --border-radius-small: 3px;
    --border-radius-medium: 5px;
    --border-radius-big: 10px;
}



/* ---------------------===================( Reset/Normalize )===================--------------------- */

/* All styles (https://dev.to/hankchizljaw/a-modern-css-reset-6p3/) */

/* Prevent adjustments of font size after orientation changes in iOS. */
html {
    -webkit-text-size-adjust: 100%
}

/* Box sizing rules. Padding inside elements */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Make elements as blocks */
main {
    display: block;
}

/* Remove default color styles and change style of underline */
/* (1) "text-decoration-skip-ink: auto" -> (https://developer.mozilla.org/en-US/docs/Web/CSS/text-decoration-skip-ink) */
a {
    outline: none;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    /*text-decoration-skip-ink: auto; !* (1) *!*/
}

/* Make labels intuitive clickable */
label {
    cursor: pointer;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: inline-block;
}

li,
figure {
    display: inline-block;
}

/* Remove list styles on ul, padding, margin */
ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Reset default button styles */
button {
    padding: 0;
    border: none;
    outline: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
    -webkit-appearance: button;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
}

/* Remove default margins */
p,
li,
body,
figure,
figcaption,
blockquote,
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

/* Inherit fonts for inputs and buttons, remove controls */
input,
select,
textarea {
    padding: 10px 15px;
    border: none;
    resize: none;
    cursor: text;
    font: inherit;
    outline: none;
    overflow: hidden;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

/* Remove control arrows from input fields */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/* Remove dropdown arrows from input fields */
[list]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Remove all animations and transitions for people that prefer not to see them (https://css-tricks.com/introduction-reduced-motion-media-query/) */
@media (prefers-reduced-motion: reduce) {
    * {
        scroll-behavior: auto !important;
        animation-duration: 0.01ms !important;
        transition-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
    }
}



/* ---------------------===================( Settings )===================--------------------- */

body.theme-light {
    --theme-bg-color: var(--color-light);
    --theme-svg-fill: var(--color-black);
    --theme-svg-fill-opposite: var(--color-white);
    --theme-font-color: var(--color-font-dark);
    --theme-font-color-opposite: var(--color-font-light);
}

body.theme-dark {
    --theme-bg-color: var(--color-dark);
    --theme-svg-fill: var(--color-white);
    --theme-svg-fill-opposite: var(--color-black);
    --theme-font-color: var(--color-font-light);
    --theme-font-color-opposite: var(--color-font-dark);
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: stretch;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 100%;
    text-align: left;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    font-size: var(--font-size);
    color: rgba(var(--theme-font-color));
    font-family: var(--font-family);
    line-height: var(--font-line-height);
    background-color: rgba(var(--theme-bg-color));
}

#sapper {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: stretch;
}

#main {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: stretch;
}

h1, .h1 {
    font-size: 2em;
    line-height: calc(var(--font-line-height) * 1.5);
}

h2, .h2 {
    font-size: 1.5em;
    line-height: calc(var(--font-line-height) * 1.3);
}

h3, .h3 {
    font-size: 1.2em;
    line-height: calc(var(--font-line-height) * 1.2);
}

h4, .h4, p, .p {
    font-size: 1em;
    line-height: calc(var(--font-line-height) * 1.2);
}

h5, .h5 {
    font-size: .825em;
    line-height: calc(var(--font-line-height) * 1.2);
}

h6, .h6 {
    font-size: .675em;
    line-height: calc(var(--font-line-height) * 1.2);
}

sub {
    display: inline-block;
    vertical-align: baseline;
    font-weight: normal;
    font-size: .825em;
    line-height: calc(var(--font-line-height) * 1.2);
}

sup {
    display: inline-block;
    vertical-align: baseline;
    font-weight: normal;
    font-size: 1.2em;
    line-height: calc(var(--font-line-height) * 1.2);
}

pre {
    margin: 0;
    font: inherit;
    max-width: 100%;
    overflow: hidden;
    white-space: pre-line;
    word-break: break-word;
}

s {
    display: inline-block;
    text-decoration: inherit;
}

s:after {
    content: '\00a0';
}

br {
    display: block;
    height: 0;
    content: '\00a0';
    box-sizing: content-box;
}

br.tiny {
    padding: calc(1em * .29 / 2) 0; /* 4px */
}

br.small {
    padding: calc(1em * .57 / 2) 0; /* 8px */
}

br.medium, br {
    padding: calc(1em * 1.14 / 2) 0; /* 16px */
}

br.big {
    padding: calc(1em * 2.28 / 2) 0; /* 32px */
}

b {
    font-weight: bold;
}


/* ---------------------===================( Global Theme )===================--------------------- */

/* Background patterns: https://leaverou.github.io/css3patterns/ */
#sapper, .theme-bg {
    color: rgba(var(--theme-font-color));
    background-color: rgba(var(--theme-bg-color));
}

.theme-bg-color {
    background-color: rgba(var(--theme-bg-color));
}

.theme-bg-color-secondary {
    background-color: rgba(var(--theme-bg-color-secondary));
}

.theme-svg-fill, .theme-svg-fill * {
    fill: var(--theme-svg-fill);
    stroke: var(--theme-svg-fill);
}

.theme-svg-fill-opposite, .theme-svg-fill-opposite * {
    fill: var(--theme-svg-fill-opposite);
    stroke: var(--theme-svg-fill-opposite);
}



/* ---------------------===================( Focus styles )===================--------------------- */

a:not([class]):focus,
button:not([class]):focus {
    text-decoration: underline solid rgb(var(--color-info));
}

input:focus,
select:focus,
textarea:focus,
button:not([class]):focus {
    border-color: rgb(var(--color-success));
}

::selection {
    background-color: rgb(var(--color-info), .5);
}

/* ---------------------===================( Utils/Helpers )===================--------------------- */

.container {
    padding-left: var(--screen-padding);
    padding-right: var(--screen-padding);
}

.scroll-box {
    flex: 1 1 0;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Hide elements by "hidden" attribute */
[hidden], .hidden {
    display: none !important; /* One of the good use cases of !important */
}

/* Hide elements by "zero" attribute */
[zero], .zero {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Hide elements by "invisible" attribute */
[invisible], .invisible {
    visibility: hidden !important; /* One of the good use cases of !important */
}

.full-absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.full-container {
    width: 100vw;
    margin-left: calc(50% - 50vw);
}

/* ----------=========( Text align )=========----------- */
.scroll-center {
    scroll-snap-type: both mandatory;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
}

.scroll-center > * {
    scroll-snap-align: center;
}

/* ----------=========( Text align )=========----------- */
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

/* ----------=========( Flex )=========----------- */

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-justify-between  {
    justify-content: space-between;
}

.flex-justify-center  {
    justify-content: center;
}

.flex-justify-start  {
    justify-content: flex-start;
}

.flex-justify-end  {
    justify-content: flex-end;
}

.flex-justify-around  {
    justify-content: space-around;
}

.flex-justify-stretch  {
    justify-content: stretch;
}

.flex-align-center  {
    align-items: center;
}

.flex-align-start  {
    align-items: flex-start;
}

.flex-align-end  {
    align-items: flex-end;
}

.flex-align-stretch  {
    align-items: stretch;
}

.flex-wrap  {
    flex-wrap: wrap;
}

.flex-nowrap  {
    flex-wrap: nowrap;
}

/* ----------=========( Text )=========----------- */
.text-bold {
    font-weight: bold;
}

.text-ellipsis {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* ----------=========( Text color )=========----------- */
.text-success {
    color: rgb(var(--color-success));
}

.text-danger {
    color: rgb(var(--color-danger));
}

.text-info {
    color: rgb(var(--color-info));
}

.text-white {
    color: rgb(var(--color-white));
}

.text-black {
    color: rgb(var(--color-black));
}

/* ----------=========( Background color )=========----------- */
.bg-success {
    background-color: rgb(var(--color-success));
}

.bg-danger {
    background-color: rgb(var(--color-danger));
}

.bg-info {
    background-color: rgb(var(--color-info));
}

/* ----------=========( Border color )=========----------- */
.border-success {
    border-color: rgb(var(--color-success));
}

.border-danger {
    border-color: rgb(var(--color-danger));
}

.border-info {
    border-color: rgb(var(--color-info));
}
