/*
 *
 * Some CSS formula templates:
 *
 * calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])))
 *
 */

/* ---------------------===================( Variables )===================--------------------- */
:root {

    /* -----------========( Colors )=========----------- */

    /* Mono */

    --color-white: 255, 255, 255;           /* #ffffff */
    --color-black: 0, 0, 0;                 /* #000000 */

    --color-lihgt: 230, 230, 230;           /* #e6e6e6 */
    --color-light-1: 221, 221, 221;         /* #dddddd */

    --color-dark: 40, 40, 40;               /* #282828 */
    --color-dark-1: 51, 51, 51;             /* #333333 */

    /* Multi */

    --color-success: 69, 161, 75;           /* #45a14b */
    --color-success-dark: 46, 107, 51;      /* #2e6b33 */

    --color-warning: 218, 160, 11;          /* #daa00b */
    --color-warning-dark: 146, 107, 7;      /* #926b07 */

    --color-danger: 217, 83, 79;            /* #d8544f */
    --color-danger-dark: 188, 46, 41;       /* #bc2e29 */

    --color-info: 158, 158, 158;            /* #9e9e9e */
    --color-info-dark: 120, 120, 120;       /* #787878 */

    /* Font */

    --color-font-light: var(--color-light-1);
    --color-font-dark: var(--color-dark-1);




    /* -----------========( Current Theme )=========----------- */

    --theme-svg-fill: var(--color-dark-1);
    --theme-bg-color: var(--color-light-1);
    --theme-font-color: var(--color-font-dark);
    --theme-font-color-opposite: var(--color-font-light);




    /* -----------========( Breakpoints )=========----------- */

    --screen-mobile-start: 320px;
    --screen-mobile-end: 425px;

    --screen-tablet-start: 426px;
    --screen-tablet-end: 768px;

    --screen-laptop-start: 769px;
    --screen-laptop-end: 1440px;

    --screen-desktop-start: 1441px;
    --screen-desktop-end: 1920px;




    /* -----------========( Shadows )=========----------- */

    --shadow-primary: -1px 2px 1px rgba(var(--color-black), .2);
    --shadow-secondary: 0 2px 4px 0 rgba(var(--color-black), .3);
    --shadow-secondary-inset: 1px -1px 2px rgba(var(--color-black), .1), inset 1px 0 2px rgba(var(--color-black), .2);




    /* -----------========( Font )=========----------- */

    --font-weight: 400;
    --font-size-min: 14;
    --font-size-max: 16;

    /* (1.6 (22.4px) for 14px/300px -> 2 (32px) for 16px/1600px) = https://grtcalculator.com */
    --font-line-height-min: 1.6;
    --font-line-height-max: 2;

    --content-width-min: 320;
    --content-width-max: 1600;

    /* ---------------------===================( Formulas )===================--------------------- */
    --font-size: calc(var(--font-size-min) * 1px + (var(--font-size-max) - var(--font-size-min)) * (100vw - var(--content-width-min) * 1px) / (var(--content-width-max) - var(--content-width-min)));
    --font-line-height: calc((var(--font-size-min) * var(--font-line-height-min)) * 1px + ((var(--font-size-max) * var(--font-line-height-max)) - (var(--font-size-min) * var(--font-line-height-min))) * (100vw - var(--content-width-min) * 1px) / (var(--content-width-max) - var(--content-width-min)));

    /* The most readable online fonts: "1. Verdana, 2. Arial, 3. Courier" -> (https://www.awai.com/2011/10/the-best-fonts-to-use-in-print-online-and-email/) */
    /* Fonts supporting (https://www.cssfontstack.com/) */
    --font-family: Verdana, Arial, Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;




    /* -----------========( Other )=========----------- */

    --screen-padding: 8px;

    --min-interactive-size: 50px;

    --border-radius: 4px;
}



/* ---------------------===================( Settings )===================--------------------- */

body.theme-light {
    --theme-bg-color: var(--color-light-1);
    --theme-svg-fill: var(--color-dark-1);
    --theme-font-color: var(--color-font-dark);
    --theme-font-color-opposite: var(--color-font-light);
}

body.theme-dark {
    --theme-bg-color: var(--color-dark-1);
    --theme-svg-fill: var(--color-light-1);
    --theme-font-color: var(--color-font-light);
    --theme-font-color-opposite: var(--color-font-dark);
}

body {
    text-align: left;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    font-size: var(--font-size);
    color: rgba(var(--theme-font-color));
    font-family: var(--font-family);
    line-height: var(--font-line-height);
    background-color: rgba(var(--theme-bg-color));
}



/* ---------------------===================( Global Themes )===================--------------------- */

body:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

/* Background patterns: https://leaverou.github.io/css3patterns/ */
body,
body:before,
.theme-bg {
    color: rgba(var(--theme-font-color));
    background: radial-gradient(rgba(var(--color-black), .025) 15%, transparent 16%) 0 0,
                radial-gradient(rgba(var(--color-black), .025) 15%, transparent 16%) 8px 8px,
                radial-gradient(rgba(var(--color-white), .015) 15%, transparent 20%) 0 1px,
                radial-gradient(rgba(var(--color-white), .015) 15%, transparent 20%) 8px 9px;
    background-color: rgba(var(--theme-bg-color));
    background-attachment: fixed;
    background-size: 16px 16px;
}

.theme-bg-color {
    background-color: rgba(var(--theme-bg-color));
}

.theme-svg-fill, .theme-svg-fill * {
    fill: var(--theme-svg-fill);
    stroke: var(--theme-svg-fill);
}



/* ---------------------===================( Reset/Normalize )===================--------------------- */
/* All styles (https://dev.to/hankchizljaw/a-modern-css-reset-6p3/) */

/* Prevent adjustments of font size after orientation changes in iOS. */
html {
    -webkit-text-size-adjust: 100%
}

/* Box sizing rules. Padding inside elements */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Make elements as blocks */
main {
    display: block;
}

/* Remove default color styles and change style of underline */
/* (1) "text-decoration-skip-ink: auto" -> (https://developer.mozilla.org/en-US/docs/Web/CSS/text-decoration-skip-ink) */
a {
    outline: none;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    /*text-decoration-skip-ink: auto; !* (1) *!*/
}

/* Make labels intuitive clickable */
label {
    cursor: pointer;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: inline-block;
}

li,
figure {
    display: inline-block;
}

/* Remove list styles on ul, padding, margin */
ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Reset default button styles */
button {
    padding: 0;
    border: none;
    outline: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
    -webkit-appearance: button;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
}

/* Remove default margins */
p,
li,
body,
figure,
figcaption,
blockquote,
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Inherit fonts for inputs and buttons, remove controls */
input,
select,
textarea {
    padding: 10px 15px;
    border: none;
    resize: none;
    cursor: text;
    font: inherit;
    outline: none;
    overflow: hidden;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

/* Remove control arrows from input fields */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/* Remove dropdown arrows from input fields */
[list]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Remove all animations and transitions for people that prefer not to see them (https://css-tricks.com/introduction-reduced-motion-media-query/) */
@media (prefers-reduced-motion: reduce) {
    * {
        scroll-behavior: auto !important;
        animation-duration: 0.01ms !important;
        transition-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
    }
}

/* ---------------------===================( Focus styles )===================--------------------- */

a:not([class]):focus,
button:not([class]):focus {
    text-decoration: underline solid rgb(var(--color-warning));
}

input:focus,
select:focus,
textarea:focus,
button:not([class]):focus {
    border-color: rgb(var(--color-success));
    box-shadow: 0 0 5px rgb(var(--color-success));
}

::selection {
    background-color: rgb(var(--color-warning), .5);
}

/* ---------------------===================( Utils/Helpers )===================--------------------- */

.container {
    padding-left: var(--screen-padding);
    padding-right: var(--screen-padding);
}

/* Hide elements by "hidden" attribute */
[hidden], .hidden {
    display: none !important; /* One of the good use cases of !important */
}

/* Hide elements by "zero" attribute */
[zero], .zero {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Hide elements by "invisible" attribute */
[invisible], .invisible {
    visibility: hidden !important; /* One of the good use cases of !important */
}

/* ----------=========( Text align )=========----------- */
.text-center {
    text-align: center;
}

/* ----------=========( Text color )=========----------- */
.text-success {
    color: rgb(var(--color-success));
}

.text-warning {
    color: rgb(var(--color-warning));
}

.text-danger {
    color: rgb(var(--color-danger));
}

.text-info {
    color: rgb(var(--color-info));
}

/* ----------=========( Background color )=========----------- */
.bg-success {
    background-color: rgb(var(--color-success));
}

.bg-warning {
    background-color: rgb(var(--color-warning));
}

.bg-danger {
    background-color: rgb(var(--color-danger));
}

.bg-info {
    background-color: rgb(var(--color-info));
}

/* ----------=========( Border color )=========----------- */
.border-success {
    border-color: rgb(var(--color-success));
}

.border-warning {
    border-color: rgb(var(--color-warning));
}

.border-danger {
    border-color: rgb(var(--color-danger));
}

.border-info {
    border-color: rgb(var(--color-info));
}
